p {
  text-align: justify;
}

h1 {
  text-align: center;
}

h3 {
  /* padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%; */
}

/* ul {
  padding-left: 15%;
  padding-right: 15%;
} */

img {
  width: 80%;
  padding-bottom: 20px;
}

.acc2 {
  border: 1px solid black;
  border-radius: 8px;
  margin: 0.5rem 0;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  transition: transform 0.2s ease-in-out;
  box-shadow: 2px 2px 5px black;
}

.acc2:has(> .acc2__title[aria-expanded="false"]):hover {
  transform: scale(1.02)
}

.acc2__title {
  width: 100%;
  text-align: left;
  padding: 0.75rem;
  text-align: center;
  background-color: rgb(233, 239, 241);
  border: 0;
  cursor: pointer;
  font-weight: 600;
}

.acc2__panel {
  background: #f7f7f7;
  padding: 0.75rem;
  padding-left: 5%;
  padding-right: 5%;
}

.sidelineBtn {
  text-align: center;
}

body {
  height: 100%;
  background-image: url("/assets/img/emajogi.jpg");
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d7/Tartu%2C_Estonia_%2854190669177%29.jpg"); */
  background-size: cover;          
  background-position: center;    
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.middleColumn {
  width: 60vw;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.middleColumn::-webkit-scrollbar {
  display: none;
}
