@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Open+Sans:wght@400;600&display=swap');
.gallery-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    display: table;
}

header .header-intro {
    background-color: rgb(0, 0, 0);
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0 0 0;
}

header nav {
    margin-top: 20px;
}

header .header-banner {
    background-image: url("img/chefCooking.jpg");
    width: 100%;
    height: calc(100vh - 500px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    display: table;
}

header h1 {
    font-family: "Gentium Plus", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
    color: #ffffff;
    line-height: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #000000;        
}
        
header h2 {    
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 5px;
    color: #ffffff;
    text-transform: uppercase;
}

header nav ul {
    display: block;
    margin: 0 auto;
    text-align: center; /*IE*/
    width: fit-content;
}
    
header nav ul li {    
    display: inline-block;
    padding: 16px 16px;
}

nav ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

main {
    background-color: #000000;
    padding-bottom: 40px;
}

main section {
    padding: 40px 40px 0 40px;
    background-color: #000000;
}

main h2 {    
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #ffffff;
    text-transform: uppercase;
}

main p {
    font-family: "Open Sans", sans-serif;
    line-height: 20px;
    text-align: justify;
    color: #ffffff;
}

main section a div img {
    width: 100%;
    
}
main section a div img {
    border-radius: 50%;
}

footer {
    width: calc(100% - 80px);
    height: 70px;
    padding: 40px 40px;
    background-color: #172029;
    margin-top: 0;
}

.disclaimer {
    display: none;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 0px;
}
    
footer ul li {    
    display: block;
    padding: 0 0 10px 0;
}
    
footer ul li p {    
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
}
    
footer ul li {    
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
}

.footer-sm {
    width: 32px;
    float: right;
}
    
.footer-sm img {    
    width: 100%;
    margin-bottom: 10px;
}

hr {
    color: #4f5663;
    border-width: 2px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 5px;
}
    
.gallery-h2 {    
    font-family: "Gentium Basic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 2px;
    padding: 10px;
    color: #3a383d;
    text-transform: uppercase;
    text-align: center;
}

.gallery-image {
    margin: 10px;
    position: relative;
    text-align: center;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;
    } 
    .post-header {       
    /*kujundus*/
    /* display: none; */
    opacity: 0;
    transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -webkit-transition: opacity .6s ease-in-out;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 3px 3px 8px #111111;
       /*positsioneerimine*/
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-image:hover {
    .post-header {
        opacity: 1;
        transition: opacity .6s ease-in-out;
        -moz-transition: opacity .6s ease-in-out;
        -webkit-transition: opacity .6s ease-in-out;
    }
}

.gallery-links {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
}

@media only screen and (min-width: 950px) {
    header .header-banner {
        height: calc(100vh - 400px);
    }   
    
    header h1 a {  
        font-size: 80px;
    }  
    header h2 {
        font-size: 24px;
        margin-top: 20px;
    }
    header nav ul li {
        padding: 16px 42px;
    }
    .about-us {
        color: white;
        width: calc(50% - 80px);
        height: 250px;
        float: left;
    }
    .about-us-pic {
        display: block;
        background-image: url("img/chefs.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;  
        display: table;
        background-color: #000000;
        width: calc(50% - 80px);
        height: calc(50vh - 80px);
        padding: 10px;
        margin: 30px 10px 30px 30px;
        float: left;
    }
    .recipes {
        display: none; 
    }
}

@media only screen and (min-width: 1600px) {
    .about-us-pic {
        background-position-y: -60px;
    }
}

@media only screen and (min-width: 950px) {
    .disclaimer {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 24px;
        color: #ffffff;
        text-transform: uppercase;
        float: left;
        margin: 0 80px;
    }
    
    .disclaimer span {
        font-style: italic;
    }

    header nav {
        margin-top: 40px;
        padding-bottom: 20px;
    }
}