p {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  text-align: center;
}

h3 {
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

ul {
  padding-left: 15%;
  padding-right: 15%;
}

img {
  width: 80%;
  padding-left: 10%;
}