p {
  text-align: justify;
}

h1 {
  text-align: center;
}

h3 {
  /* padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%; */
}

/* ul {
  padding-left: 15%;
  padding-right: 15%;
} */

img {
  width: 80%;
  padding-bottom: 20px;
}

.acc2 {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0.5rem 0;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  transition: transform 0.2s ease-in-out;
}

.acc2:hover {
  transform: scale(1.02)
}

.acc2__title {
  width: 100%;
  text-align: left;
  padding: 0.75rem;
  background: #f7f7f7;
  border: 0;
  cursor: pointer;
  font-weight: 600;
}

.acc2__panel {
  padding: 0.75rem;
}